build/
archiso/installer-profile/airootfs/usr/bin/calamares
archiso/installer-profile/airootfs/usr/include/libcalamares
archiso/installer-profile/airootfs/usr/lib/
archiso/installer-profile/airootfs/usr/share/